<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">Works</div>

            <h2>FE Dev (2021.08 ~ )</h2>
            <h3>네이버 프로모션 페이지 프론트앤드 개발</h3>
            <ul>
                <li class=" justify-text">웨일온스터디: <a href="https://campaign.naver.com/whaleonstudy/">https://campaign.naver.com/whaleonstudy/</a></li>
                <li class=" justify-text">설날복주머니: <a href="https://campaign.naver.com/2022luckunboxing/">https://campaign.naver.com/2022luckunboxing/</a></li>
                <li class=" justify-text">2021연말차트: <a href="https://campaign.naver.com/2021chart/">https://campaign.naver.com/2021chart/</a></li>
                <li class=" justify-text">2021블로그결산: <a href="https://campaign.naver.com/2021blog/">https://campaign.naver.com/2021blog/</a></li>
                <li class=" justify-text">네이버X현대카드: <a href="https://campaign.naver.com/naverhyundaicard/">https://campaign.naver.com/naverhyundaicard/</a></li>
            </ul>
            <p style="color:gray;font-style:italic">#ES6 #비동기처리 #API통신 #VanillaJS #TypeScript #Jquery #html2canvas</p>
            <br><br>

            <h2>UI Dev (2017.01 ~ 2021.07)</h2>
            
            <h3>스포츠 React UI 개발</h3>
            <ul>
                <li class=" justify-text">다크모드, SVG 적용</li>
                <li class=" justify-text">골프/게임센터 개편</li>
                <li class=" justify-text">2022 도쿄올림픽</li>
            </ul>
            <h3>뉴스 UI 개발</h3>
            <ul>
                <li class=" justify-text">다크모드 적용</li>
                <li class=" justify-text">뉴스, 연예, 스포츠 기사페이지 통합</li>
                <li class=" justify-text">제21대 국회의원선거</li>
                <li class=" justify-text">제7회 전국동시지방선거</li>
            </ul>
            <h3>네이버 웍스 UI 개발</h3>
            <ul>
                <li class=" justify-text">SVG 적용</li>
                <li class=" justify-text">웍스어드민</li>
            </ul>
            <p style="color:gray;font-style:italic">#웹표준 #웹접근성 #시맨틱마크업 #반응형 #다크모드 #CSS Animation #SVG #React</p>
            <!-- <p class="paragraph-text justify-text">
                I like working with computers. It's my hobby and my profession. I love the Internet and the way it works, and I am comfortable working on web applications; frontend and backend. I've worked on smartphone apps, both native and hybrid, and I have experience with Linux system administration. I have a keen interest in securing information systems and building secure systems.
            </p>
            <p class="paragraph-text justify-text">
                My role models include old-school programmers and <a href="https://stallman.org/articles/on-hacking.html">hackers</a> who never make it to the mainstream news, but are responsible for most of the software that most people use on an everyday basis. I promote, support and use free and open source software to the extent possible.
            </p>
            <p class="paragraph-text justify-text">
                I maintain a little blog at <a href="{{ site.blog_url }}">nagekar.com</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p> -->
            
        </div>
    </section>
</div>
