<footer class="footer footer-text">
    <div >
        <span class="hint--bottom bottom-link" aria-label="Email">
            <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope fa-inverse"></i></a>
        </span>
        <!-- <span class="hint--bottom bottom-link" aria-label="PGP Key">
            <a href="https://www.nagekar.com/publickey.abhishek@nagekar.com.asc"><i class="head-icon fas fa-key"></i></a>
        </span> -->
        <span class="hint--bottom bottom-link" aria-label="GitHub">
            <a href="https://github.com/{{ site.github_username }}"><i class="head-icon fab fa-github fa-inverse"></i></a>
        </span>
    </div>
    <p>
    {{ site.title }} &copy; {{ site.time | date: '%Y' }}
</p>
</footer>
